name: Check Games Cron

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      TWILIO_SID: ${{ secrets.TWILIO_SID }}
      TWILIO_TOKEN: ${{ secrets.TWILIO_TOKEN }}
      TWILIO_WHATSAPP_FROM: ${{ secrets.TWILIO_WHATSAPP_FROM }}
      WHATSAPP_TO: ${{ secrets.WHATSAPP_TO }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Run Bot
        run: node index.js

      - name: Save History
        run: |
          git config --global user.name "GameBot"
          git config --global user.email "bot@github.com"
          git add notified_games.json || exit 0
          git commit -m "Update notified games list" || exit 0
          git push
